/*@import "theme_c.css";*/

html, body {
    height: 100%;
    /*min-height: 100%;*/
    margin: 0;
}

.color-1 {
    color: #181818;
}

.color-2 {
    color: #828282;
}

.txt-prfl-1 {
    letter-spacing: 0;
    text-transform: capitalize;
}

.txt-box-prfl {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding-left: 0.7rem;
}

.txt-area-prfl {
    resize: none;
    border: none;
    outline: none;
    padding: 0;
}

.slct-prfl {
    border: none;
    outline: none;
}

.btn-prfl {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-prfl:focus {
    outline: none;
}

.anchr-prfl:hover {
    text-decoration: none;
    color: inherit;
}

.rdio-prfl {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #C6C6C6;
    border-radius: 50%;
    cursor: pointer;
    /*font-size: 1.8rem;*/

}

/*.rdio-prfl::before {
    content: "\2022";
    color: white;
}*/

.rdio-prfl::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.rdio-prfl:checked {
    background-color: #156982;
}



/*.rd-grp-spcng span {
    margin-left: 0.1rem;
}

.rd-grp-spcng span:not(:last-of-type) {
    margin-right: 0.7rem;
}*/


.vwprt-hght-frm {
    /*.stck-cntnt-vrtcly;*/
    min-height: 100%;
}

.cntrl-avn {
    width: 80%;
    margin: 0 auto;
}

/*#dv_hdr {
    .cntrl-avn;
    .push-cntnt-apart(row);
}*/

#im_logo {
    width: 15%;
}

#dv_opn_lgn {
    /*.stck-cntnt-vrtcly;*/
    color: #828282;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    cursor: pointer;
}

#dv_opn_lgn img {
    width: 2rem;
}

#dv_ttl {
    background-color: #156982;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
}

.bg-frm-1 {
    /*.align-cntnt-cntr;*/
    background-color: #F5F6FA;
    padding: 3rem 0;
}

#sp_date {
    display: inline-block;
    margin-bottom: 2rem;
}

.shrt-txt-box {
    /*.txt-box-prfl;*/
    width: 49%;
}

.long-txt-box {
    /*.txt-box-prfl;*/
    width: 100%;
    margin: 2rem 0 3.5rem 0;
}

.vrtcl-sprtr-prfl {
    height: 100%;
    border-left: 2px solid #DBDBDB;
    z-index: 1;
}

#ul_calc_inpt {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-family: OpenSans-Regular;
    height: 5rem;
    margin-bottom: 3rem;
    padding: 0;
}

#ul_calc_inpt li {
    /*.align-cntnt-cntr;
    .txt-prfl-1;*/
    padding: 0.5rem 0.2rem;
}

#ul_calc_inpt li:not(:first-child) {
    border-left: none;
}

#ul_calc_inpt li:not(:last-child) {
    border-right: none;
}

#li_gnrt_row {
    background: #C3C1C1 0% 0% no-repeat padding-box;
}

#li_gnrt_row span {
    color: #FFFFFF;
    font-family: OpenSans-Condensed-Light;
    font-size: 2rem;
    padding: 0 0.5rem;
}


#li_cbl {
    /*.rd-grp-spcng;*/
    color: #181818;
}

#li_wire {
    /*.rd-grp-spcng;*/
    color: #181818;
}

#dv_rst {
    /*.btn-prfl;*/
    color: #C5C3C3;
    font-size: 0.8rem;
    padding: 0;
    cursor: pointer;
}

#dv_rst img {
    width: 1.5rem;
}


#btn_sbmt {
    background: #828282 0% 0% no-repeat padding-box;
    border: 0.05rem solid #888787;
    color: white;
    opacity: 1;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

#dv_ftr {
    color: #828282;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.2rem 0;
    border-top: 0.1rem solid #C3C1C1;
}
