
.color-1 {
    color: #181818;
}

.color-2 {
    color: #828282;
}

.txt-box-prfl {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding-left: 0.7rem;
}

.txt-area-prfl {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden; 
    padding: 0;
}

.slct-prfl {
    border: none;
    outline: none;
}

.btn-prfl {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-prfl:focus {
    outline: none;
}

/*.anchr-prfl {
    text-decoration: none;
    color: inherit;
}

.anchr-prfl:hover {
    text-decoration: none;
    color: inherit;
}*/

.rdio-prfl {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 0.9rem;
    width: 0.9rem;
    background-color: #C6C6C6;
    border-radius: 50%;
    cursor: pointer;
}

/*.rdio-prfl::before {
    content: "\2022";
    color: white;
}*/

.rdio-prfl::before {
    content: "";
    height: 0.5rem;
    width: 0.5rem;
    background-color: white;
    border-radius: 50%;
}

.rdio-prfl:checked {
    background-color: #156982;
}

.vwprt-hght-frm {
    min-height: 100%;
}

.cntrl-avn {
    width: 80%;
    margin: 0 auto;
}

#im_logo {
    width: 15%;
}

#dv_opn_lgn {
    color: #828282;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    cursor: pointer;
}

#dv_opn_lgn img {
    width: 2rem;
}

#dv_ttl {
    background-color: #156982;
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 100;
    font-family: OpenSans-Light;
}

.bg-frm-1 {
    background-color: #F5F6FA;
    padding: 3rem 0;
}

#frm_calc {
    font-size: 0.8rem;
}


#frm_calc ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.8rem;
    line-height: 0.8rem;
}

#frm_calc ::-moz-placeholder { /* Firefox 19+ */
    font-size: 0.8rem;
    line-height: 0.8rem;
}

#frm_calc :-moz-placeholder { /* Firefox 18- */
    font-size: 0.8rem;
    line-height: 0.8rem;
}

#frm_calc :-ms-input-placeholder { /* IE 10+ */
    font-size: 0.8rem;
    line-height: 0.8rem;
}

#sp_date {
    display: inline-block;
    margin-bottom: 2rem;
}

.shrt-txt-box {
    width: 49%;
}

.long-txt-box {
    width: 100%;
    margin: 2rem 0 3.5rem 0;
}

.vrtcl-sprtr-prfl {
    display:inline-block;
    height: 70%;
    border-left: 2px solid #DBDBDB;
}


#dv_calc_inpt {
    height: 4.5rem;
    margin-bottom: 3rem;
    /*font-size: 0.8rem;*/
    padding: 0;
}

#dv_calc_inpt > div:not(#dv_gnrt_row) {
    background-color: white;
}

#dv_calc_inpt > div:first-child {
    border-radius: 0.3rem 0 0 0.3rem;
}

#dv_calc_inpt > div:last-child {
    border-radius: 0 0.3rem 0.3rem 0;
}

#dv_calc_inpt > div:nth-child(2) {
    padding: 0 0 0 0.5rem;
}

#dv_gnrt_row {
    background-color: #C3C1C1;
    color: #FFFFFF;
    font-family: OpenSans-Condensed-Light;
    font-size: 2rem;
    width:2.3rem;
}

#dv_cbl {
    color: #181818;
}

#dv_wire {
    color: #181818;
}










#dv_rst {
    color: #C5C3C3;
    /*font-size: 0.8rem;*/
    padding: 0;
    cursor: pointer;
}

#dv_rst img {
    width: 1.5rem;
}


#btn_sbmt,#btn_calc {
    background-color: #828282;
    border: 0.05rem solid #888787;
    outline:none;
    color: white;
    opacity: 1;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

#btn_calc {
    display:none;
}

/*#dv_new_rows_frm {
    display: none;
    width: 103%;
}*/

#tbl_new_rows {
    display: none;
    width: 103%;
    border-collapse: collapse;
    margin: 3rem 0 1rem 0;
}

#tbl_new_rows > thead td {
    color: #828282;
    padding-bottom:1rem;
}

/*#tbl_new_rows > tbody > tr:nth-child(n+1) {
    height:4.5rem;
}*/

/*#tbl_new_rows > tbody > tr {
    height: 4.5rem;
}*/

#tbl_new_rows > tbody > tr > td {
    height: 4.5rem;
    padding:0;
    margin:0;
}

#tbl_new_rows > thead > tr > td:nth-child(2),
#tbl_new_rows > tbody > tr > td:nth-child(2) {
    width: 25%;
}

#tbl_new_rows > thead > tr > td:last-child,
#tbl_new_rows > tbody > tr > td:last-child {
    width: 3%;
}

#tbl_new_rows > tbody > tr > td:not(:last-child) {
    background-color:white;
}

#tbl_new_rows > tbody > tr > td:nth-last-child(1),
#tbl_new_rows > tbody > tr > td:nth-last-child(2),
#tbl_new_rows > tbody > tr > td:nth-last-child(4),
#tbl_new_rows > tbody > tr > td:nth-last-child(6) {
    color: #828282;
}

#tbl_new_rows > tbody > tr:not(:last-child) > td:not(:last-child) {
    border-bottom: 2px solid #F5F6FA;
}

#tbl_new_rows > tbody > tr > td:first-child {
    background-color: #156982;
    width: 2.3rem;
    color: white;
    font-family: OpenSans-Condensed-Light;
    font-size: 1.2rem;
}

#tbl_new_rows > thead > tr > td:nth-child(2),
#tbl_new_rows > tbody > tr > td:nth-child(2) {
    padding: 0 0 0 0.5rem;
}

#tbl_new_rows > thead > tr > td:not(:nth-child(2)),
#tbl_new_rows > tbody > tr > td:not(:nth-child(2)) {
    text-align: center;
}

#tbl_new_rows > tbody > tr:nth-child(1) > td:first-child {
    border-radius: 0.3rem 0 0 0;
}

#tbl_new_rows > tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 0.3rem;
}

#tbl_new_rows > tbody > tr:only-child > td:first-child {
    border-radius: 0.3rem 0 0 0.3rem;
}

#tbl_new_rows > tbody > tr:nth-child(1) > td:nth-last-child(2) {
    border-radius: 0 0.3rem 0 0;
}

#tbl_new_rows > tbody > tr:last-child > td:nth-last-child(2) {
    border-radius: 0 0 0.3rem 0;
}

#tbl_new_rows > tbody > tr:only-child > td:nth-last-child(2) {
    border-radius: 0 0.3rem 0.3rem 0;
}

#dv_ftr {
    color: #828282;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.2rem 0;
    border-top: 0.1rem solid #C3C1C1;
}
