/*@import "theme_c.css";*/


/*label {
    margin: 0;
}*/

.txt-box-prfl-ovrly {
    background-color: transparent;
    border: 1px solid var(--color);
    outline: none;
    border-radius: 0.2rem;
    width: 17rem;
    height: 2.2rem;
    padding-left: 0.7rem;
}

.txt-box-prfl-ovrly::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color);
    opacity: 1; /* Firefox */
}


.btn-prfl-ovrly {
    background-color: transparent;
    border: 1px solid var(--color);
    color: var(--color);
    outline: none;
    border-radius: 0.2rem;
    padding: 0.3rem 1rem;

}


.btn-prfl-ovrly:focus {
    outline: none;
}


.chckbx-prfl {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 1rem;
    width: 1rem;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;


}

.chckbx-prfl:checked::before {
    content: "\0413";
    color: white;
    transform: rotate(-135deg);
}


.anchr-prfl {
    color: var(--color);
}

.anchr-prfl:hover {
    text-decoration: var(--dcrtn);
}


#btn_lgn {
    /*.btn-prfl-ovrly(white);*/
    margin-top: 1.5rem;
}

#btn_sgn {
    /*.btn-prfl-ovrly(#156982);*/
    margin-top: 1.5rem;
}

#dv_ovrly {
    /*align-items: center;
    justify-content: center;*/
    /*.align-cntnt-cntr;*/
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.title {
    margin-bottom: 2rem;
    
}

.title span {
    display: block;
    white-space: nowrap;
}

.title span:first-of-type {
    font-size: 0.8rem;
}

.title span:last-of-type {
    font-size: 2.7rem;
    font-weight: 200;
    line-height: 2.7rem;
}

#dv_ovrly_cntnt {
    position: relative;
}

#tbl_id_data {
    height: 100%;
}

.id-opt {
    height: 100%;
    text-align: center;
    padding: 2.3rem 1rem;
    
}

.id-opt > div {
    height: 100%;
}

.id-opt input[type="text"] {
    display: block;
    margin-bottom: 1rem;
}

#lgn_inpt {
    background-color: #156982;
    color: white;
    /*input [type="text"]

{
    .txt-box-prfl-2(white);
}*/

}


#sign_inpt {
    background-color: white;
    color: #156982;
    /*input [type="text"]

{
    .txt-box-prfl-2(#156982);
}*/

}

#sp_cls_ovrly {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    cursor: pointer;
}

#a_rst_psswrd {
    /*.anchr-prfl(@color:white,@dcrtn:underline);*/
    text-decoration: underline;
}

#tbl_lgn_optns {
    width: 100%;
    font-size: 0.8rem;
    /*td{
        vertical-align:middle;
    }*/
}

#tbl_lgn_optns td:first-of-type {
    text-align: left;
}

#tbl_lgn_optns td:last-of-type {
    text-align: right;
}



