@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-Condensed-Light';
    src: url('../assets/fonts/OpenSans-Condensed-Light.ttf');
}

.align-cntnt-cntr {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

/*.align-cntnt-sidewys {
    display: flex;
    justify-content: space-between;
}*/

.push-cntnt-apart {
    display: flex;
    flex-direction: var(--drctn);
    justify-content: space-between;
}

/*[data-algn="push_aprt_hrzntly"] {
    .push-cntnt-apart(row);
}*/

/*[data-algn="push_aprt_vrtcly"] {
    .push-cntnt-apart(column);
}*/

[data-grow="grdy"] {
    flex-grow: 1;
}

.stck-cntnt-hrzntly {
    display: flex;
    flex-direction: row;
    /*& > [data-grow="grdy"] {
        flex-grow: 1;
    }*/
}

.stck-cntnt-vrtcly {
    display: flex;
    flex-direction: column;
    /*& > [data-grow="grdy"] {
        flex-grow: 1;
    }*/
}

.cntr-inpt-txt {
    display: flex;
    align-items: center;
    /*position: relative;*/
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

.cntr-inpt-txt > input 
{
    flex: none;
}

.cntr-inpt-txt label {
    flex: none;
}

[data-role="rd_lbl"], [data-role="cb_lbl"] {
    margin: 0 0 0 0.1rem;
}

[data-role="rd_btn"]:not(:first-of-type) {
    margin-left: 0.7rem;
}
