@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: 'OpenSans-Condensed-Light';
    src: url('../assets/fonts/OpenSans-Condensed-Light.ttf');
}

html, body {
    height: 100%;
    margin: 0;
    font-family: OpenSans-Regular;
}

* {
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    margin: 0;
}

.anchr-prfl {
    color: var(--color);
    text-decoration: var(--dcrtn);
}

.anchr-prfl:hover {
    color: var(--color);
    text-decoration: var(--dcrtn);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: OpenSans-Regular;
}

::-moz-placeholder { /* Firefox 19+ */
    font-family: OpenSans-Regular;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: OpenSans-Regular;
}

:-ms-input-placeholder { /* IE 10+ */
    font-family: OpenSans-Regular;
}

.align-cntnt-vrtcly-cntr {
    display: flex;
    align-items: center;
}

.align-cntnt-hrzntly-cntr {
    display: flex;
    justify-content: center;
}

.align-cntnt-rght {
    display: flex;
    justify-content:right;
}

.align-cntnt-cntr {
    display: flex;
    align-items: center;
    /*justify-items: center;*/
    justify-content: center;
}

.push-cntnt-apart {
    display: flex;
    flex-direction: var(--drctn);
    justify-content: space-between;
}

[data-grow="grdy"] {
    flex-grow: 1;
}

.stck-cntnt-hrzntly {
    display: flex;
    flex-direction: row;
}

.stck-cntnt-vrtcly {
    display: flex;
    flex-direction: column;
}

.cntr-inpt-txt {
    display: flex;
    align-items: center;
    /*position: relative;*/
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

.cntr-inpt-txt > input 
{
    flex: none;
}

.cntr-inpt-txt label {
    flex: none;
}

/*[data-role="rd_lbl"], [data-role="cb_lbl"] {
    margin: 0 0 0 0.1rem;
}*/

[data-role="info_lbl"] {
    margin-left: 0.2rem;
}

/*[data-role="rd_btn"]:not(:first-of-type) {
    margin-left: 0.7rem;
}*/

.hrzntl-rd-grp > [data-role="rd_btn"]:not(:first-of-type) {
    margin-left: var(--mrgn);
}
