:root {
    --tile-size: 50px;
    --tile-gap: 2px;
}

/*.anchor-point {
    position: relative;
    bottom: var(--main-menu-computed-height);
}*/

html, body {
    height: 100%;
    margin: 0;
    font-family: OpenSans-Regular;
}

* {
    box-sizing: border-box;
}

.relative {
    position: relative;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.hide {
    display: none;
}

.flex-box {
    display: flex;
}

.column-flex-box {
    display: flex;
    flex-direction: column;
}

.center-main-axis {
    justify-content: center;
}

.center-cross-axis {
    align-items: center;
}

.center-all-axis {
    align-items: center;
    justify-content: center;
}

.page-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.puzzle-frame {
    position: relative;
    width: calc(200px + (var(--tile-gap) * 3));
    height: calc(200px + (var(--tile-gap) * 3));
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .overlay label, .tile label {
        color: white;
        font-size: 16px;
        font-weight: bold;
    }

/*.tile11, .tile12, .tile13, .tile14, .tile21, .tile22, .tile23, .tile24, .tile31, .tile32, .tile33, .tile34, .tile41, .tile42, .tile43, .tile44 {
    display: table-cell;
    background-size:200px;
    background-image: url("/Images/dog.jpg");
    border: 1px solid white;
    cursor: pointer;
}*/

/*.blank{
    background-color:white;
}
.tile11 {
    background-position: 0 0;
}
.tile12 {
    background-position: -50px 0;
}
.tile13 {
    background-position: -100px 0;
}
.tile14 {
    background-position: -150px 0;
}
.tile21 {
    background-position: 0 -50px;
}
.tile22 {
    background-position: -50px -50px;
}
.tile23 {
    background-position: -100px -50px;
}
.tile24 {
    background-position: -150px -50px;
}
.tile31 {
    background-position: 0 -100px;
}
.tile32 {
    background-position: -50px -100px;
}
.tile33 {
    background-position: -100px -100px;
}
.tile34 {
    background-position: -150px -100px;
}
.tile41 {
    background-position: 0 -150px;
}
.tile42 {
    background-position: -50px -150px;
}
.tile43 {
    background-position: -100px -150px;
}
.tile44 {
    background-position: -150px -150px;
}*/

