.top-left-corner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    left: -20px;
    border-radius: 2rem 0 0 0;
    border-top: 15px solid #EB5457;
    border-left: 15px solid #EB5457;
}

.top-right-corner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -20px;
    right: -20px;
    border-radius: 0 2rem 0 0;
    border-top: 15px solid #EB5457;
    border-right: 15px solid #EB5457;
}

.bottom-right-corner {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -20px;
    right: -20px;
    border-radius: 0 0 2rem 0;
    border-bottom: 15px solid #EB5457;
    border-right: 15px solid #EB5457;
}

.bottom-left-corner {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: -20px;
    left: -20px;
    border-radius: 0 0 0 2rem;
    border-bottom: 15px solid #EB5457;
    border-left: 15px solid #EB5457;
}
