@media (orientation: landscape) {
    .carousel-width {
        width: 60%;
    }

    .text-margin {
        margin-bottom: 0;
    }

    .image-width-01 {
        width: 35%;
    }

    .image-width-02 {
        width: 25%;
    }

    .margin-right-01{
        margin-right:10px;
    }
}

@media (orientation: portrait) {
    .carousel-width {
        width: 100%;
    }

    .text-margin {
        margin-bottom: 20px;
    }

    .image-width-01 {
        width: 25%;
    }

    .image-width-02 {
        width: 20%;
    }

    .margin-right-01 {
        margin-right: 0;
    }
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
}

.triangle-tl {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 4rem solid #FBCC62;
    border-right: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-tr {
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 4rem solid #FBCC62;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-br {
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 4rem solid #FBCC62;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-bl {
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom: 4rem solid #FBCC62;
    border-right: 4rem solid transparent;
    border-radius: 1rem;
}

.scroll {
    width: 30px;
    height: 30px;
    bottom: 20%;
    left: 50%;
    position: absolute;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}


