/*.inner-custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

    .inner-custom-shape-divider-bottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }*/




.triangle {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 4;
}

.triangle-tl {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 4rem solid white;
    border-right: 4rem solid transparent;
    border-radius:1rem;
}

.triangle-tr {
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 4rem solid white;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-br {
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 4rem solid white;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-bl {
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom: 4rem solid white;
    border-right: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-tlg {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-top: 4rem solid #E0EECA;
    border-right: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-trg {
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-top: 4rem solid #E0EECA;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-brg {
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
    border-bottom: 4rem solid #E0EECA;
    border-left: 4rem solid transparent;
    border-radius: 1rem;
}

.triangle-blg {
    width: 0;
    height: 0;
    bottom: 0;
    left: 0;
    border-bottom: 4rem solid #E0EECA;
    border-right: 4rem solid transparent;
    border-radius: 1rem;
}

/*.scroll {
    width: 60px;
    height: 60px;
    border: 5px solid #333;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

    .scroll::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 18px;
        width: 18px;
        height: 18px;
        border-left: 5px solid #333;
        border-bottom: 5px solid #333;
        transform: rotate(-45deg);
    }*/

.scroll {
    width: 30px;
    height: 30px;
    bottom: 20%;
    left: 50%;
    position: absolute;
    /*background-color: white;*/
    /*transform: translate(-50%, 0) rotate(-45deg);*/
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}

   


/*.scroll {
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    transform: translateX(-50%) rotate(-45deg);
    animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;
}*/

@keyframes down {
    0% {
        /*transform: translate(0);*/
        transform: translate(0) rotate(-45deg);
    }

    20% {
        /*transform: translateY(15px);*/
        transform: translate(15px) rotate(-45deg);
    }

    40% {
        /*transform: translate(0);*/
        transform: translate(0) rotate(-45deg);
    }
}

@-webkit-keyframes down {
    0% {
        transform: translate(0);
        /*transform: translateY(0) rotate(-45deg);*/
        /*transform: translate(-50%, 0) rotate(-45deg);*/
    }

    20% {
        transform: translateY(15px);
        /*transform: translateY(15px) rotate(-45deg);*/
        /*transform: translate(-50%, 15px) rotate(-45deg);*/
    }

    40% {
        transform: translate(0);
        /*transform: translateY(0) rotate(-45deg);*/
        /*transform: translate(-50%, 0) rotate(-45deg);*/
    }
}


