
input[type="text"]::placeholder {
    text-align: right;
}

/*.navbar-nav {
    width: 80% !important;
}*/

/*#navbarNav {
    width: 80% !important;
}*/

#main-menu .nav-link {
    color: white;
    /*color: #EB5457 !important;*/
}

/*, .nav-link > li > a:focus*/
a.nav-link:hover {
    color: #E0EECA;
}

.center-absolute-X {
    position: absolute;    
    left: 50%;
    transform: translateX(-50%);
}

.center-absolute-Y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flip-horizontal {
    transform: scaleX(-1);
}

.flip-vertical {
    transform: scaleY(-1);
}

.mb-gradient-background {
    background: linear-gradient(180deg,rgba(0,0,0,.7) 0,rgba(231,56,39,0));
}

    .mb-gradient-background.scrolled {
        /*background: #EB5457 !important;*/
        background: white !important;
        border-bottom: 1px solid rgba(80,80,80,.1);
        transition: background 200ms linear;
    }

.mb-solid-background {
    /*background: #EB5457 !important;*/
    background: white !important;
}

    .mb-gradient-background.scrolled .nav-link,
    .mb-solid-background .nav-link {
        color: #EB5457 !important;
    }

.inner-custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10;
}

    /*.inner-custom-shape-divider-bottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }*/

.outer-custom-shape-divider-top {
    overflow: hidden;
    line-height: 0;
}

    .outer-custom-shape-divider-top svg, .inner-custom-shape-divider-bottom svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
    }

.cntr-cntnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-in-top {
    /*position: relative;*/
    transform: translateY(-100px);
    opacity: 0;
    transition: 1s all ease;
}

.fade-in-top.active {
    transform: translateY(0);
    opacity: 1;
}
