/*.fixed-datepicker {
    position: relative;
}*/

/*input[type="radio"]:checked + .btn {
    color: #fff;
    background: #ff60bd !important;
}*/

/*.btn-group .btn {
    color: #fff;
    background: #ff60bd !important;
    border:none;
}*/

.ovrly-lyr {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);

    overflow: auto hidden;
    z-index: 999;
}

.btn-outline-primary {
    color: #0d6efd;
    background: white !important;
    border: none;
}

.btn-check:checked + .btn-outline-primary {
    color: #fff;
    background: #E0EECA !important;
    border: none;
}

.form-control{
    border:none;
}

[data-role="fixed-datepicker"] .input-group-text {
    border-radius: 0 0.25rem 0.25rem 0;
    border:none;
}

/*[data-role="ticket-quantity"] {
    clear: both;
    position: relative;
}

    [data-role="ticket-quantity"] input,
    [data-role="ticket-quantity"] textarea {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        margin: 0;
        outline: none;
    }

    [data-role="ticket-quantity"] input[type="button"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    [data-role="ticket-quantity"] input::-webkit-outer-spin-button,
    [data-role="ticket-quantity"] input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    [data-role="ticket-quantity"] input[type='button'] {
        background-color: #eeeeee;
        width: auto;
        transition: all 300ms ease;
    }

    [data-role="ticket-quantity"] .button-minus,
    [data-role="ticket-quantity"] .button-plus {
        font-weight: bold;
        padding: 0;
        position: relative;
    }

    [data-role="ticket-quantity"] .quantity-field {
        position: relative;
        text-align: center;
        display: inline-block;
        resize: vertical;
    }


[data-role="ticket-quantity"] input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}*/

::placeholder {
    opacity: 0.3 !important; /* Firefox */
}

.form-control, .form-control::placeholder {
    color: #007F0E !important;
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #007F0E;
}

.btn-outline-primary, .btn-check:checked + .btn-outline-primary {
    /*color: #E0EECA;*/
    color: #007F0E;
}

[data-type="minus"] {
    border-radius: 0.25rem 0 0 0.25rem;
    /*color: white;*/
    color: #007F0E;
    background-color: #E0EECA;
}

[data-type="plus"] {
    border-radius: 0 0.25rem 0.25rem 0;
    /*color: white;*/
    color: #007F0E;
    background-color: #E0EECA;
}

.fa-calendar {
    color: #007F0E;
}


