:root {
    --landscape-ticket-width: 800px;
}

@media (orientation: landscape) {
    #landscape_ticket{
        display:block;
        /*display:flex;*/
    }

    #portrait_ticket{
        display:none;
    }

    .landscape-min-width {
        min-width: var(--landscape-ticket-width);
    }

    /*.close-icon-position {
        position: absolute;
        top: 20px;
        right: 20px;
    }*/
}

@media (orientation: portrait) {
    #landscape_ticket {
        display: none;
    }

    #portrait_ticket {
        display: block;
    }

    .landscape-min-width {
        min-width: auto;
    }

    /*.close-icon-position {
        position: relative;
        top: auto;
        right: auto;
    }*/
}



h1 {
    margin: 0;
}

.ovrly-lyr {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    /*overflow: auto hidden;*/
    overflow: auto;
    z-index: 999;
}

.close-icon-position {
    /*display: flex;
    justify-content: end;*/
    padding:20px;
}

#landscape_ticket {
    width: var(--landscape-ticket-width);
    margin: 0 auto;
    background-image: url('../images/tickets/horizontal-ticket-02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 2 / 1;
}

#portrait_ticket {
    width: 300px;
    margin: 0 auto;
    background-image: url('../images/tickets/portrait-ticket-02.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    aspect-ratio: 1 / 2;
    margin-bottom:40px;
}

.btn-outline-primary {
    /*color: #0d6efd;*/
    color: #007F0E;
    background: white !important;
    border: none;
}

.btn-check:checked + .btn-outline-primary {
    
    color: #007F0E;
    background: #E0EECA !important;
    border: none;
}

.btn-outline-primary:hover, .btn-number:hover {
    color: #007F0E;
}


.form-control{
    border:none;
}

[data-role="fixed-datepicker"] .input-group-text {
    border-radius: 0 0.25rem 0.25rem 0;
    border:none;
}

/*[data-role="ticket-quantity"] {
    clear: both;
    position: relative;
}

    [data-role="ticket-quantity"] input,
    [data-role="ticket-quantity"] textarea {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        margin: 0;
        outline: none;
    }

    [data-role="ticket-quantity"] input[type="button"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    [data-role="ticket-quantity"] input::-webkit-outer-spin-button,
    [data-role="ticket-quantity"] input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    [data-role="ticket-quantity"] input[type='button'] {
        background-color: #eeeeee;
        width: auto;
        transition: all 300ms ease;
    }

    [data-role="ticket-quantity"] .button-minus,
    [data-role="ticket-quantity"] .button-plus {
        font-weight: bold;
        padding: 0;
        position: relative;
    }

    [data-role="ticket-quantity"] .quantity-field {
        position: relative;
        text-align: center;
        display: inline-block;
        resize: vertical;
    }


[data-role="ticket-quantity"] input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}*/

::placeholder {
    opacity: 0.3 !important; /* Firefox */
}

.form-control, .form-control::placeholder {
    color: #007F0E !important;
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: #007F0E;
}



[data-type="minus"] {
    border-radius: 0.25rem 0 0 0.25rem;
    /*color: white;*/
    color: #007F0E;
    background-color: #E0EECA;
}

[data-type="plus"] {
    border-radius: 0 0.25rem 0.25rem 0;
    /*color: white;*/
    color: #007F0E;
    background-color: #E0EECA;
}

.fa-calendar {
    color: #007F0E;
}

.portrait-control-margin{
    margin-bottom:10px;
}


